@charset "UTF-8";
.posts .type-wm_projects .entry-subtitle, .posts .type-wm_projects .taxonomy-label { clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); position: absolute !important; width: 1px; height: 1px; line-height: 1px; overflow: hidden; }

.slick-arrow::before, .wm-accordion .wm-item-title::after, .wm-filter .link-parent::before, .wm-tour-nav .prev a::before, .wm-tour-nav .next a::after, .wm-testimonials blockquote::before { font-family: 'Genericons-Neue'; font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; speak: none; }

.slick-arrow { position: relative; display: inline-block; width: 1em; text-align: right; text-indent: -999em; }

.slick-arrow::before { position: absolute; width: 100%; right: 0; top: 0; text-align: center; text-indent: 0; }

.wm-testimonials-item::after { content: ''; clear: both; display: table; table-layout: fixed; }

.wm-message { position: relative; z-index: 1; }

.wm-message::after { content: ''; position: absolute; width: 100%; height: 100%; right: 0; top: 0; background-color: currentColor; border-radius: inherit; opacity: 0.07; z-index: -1; }

.wm-call-to-action-caption h2, .wm-call-to-action-caption h3, .wm-call-to-action-caption h4, .wm-content-module .title h2, .wm-content-module .title h3, .wm-content-module .title h4, .wm-content-module .more-link a, .posts .type-wm_staff .taxonomy-label { text-transform: uppercase; letter-spacing: .075em; }

/* FILE: shortcodes/__row.scss */
.wm-row { clear: both; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wm-row + .wm-row { margin-top: 2em; }

.wm-row.no-margin, .wm-items-container .wm-row.no-margin { margin-top: 0; }

/* FILE: shortcodes/__column.scss */
.wm-column { -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; position: relative; width: 100%; padding: 0; margin: 0 0 2rem; }

.wm-column.no-margin, .wm-column.last, .wm-row > .wm-column:last-child { margin: 0; }

.width-1-1:not(:first-child) { margin-top: 2rem; }

@media only screen and (min-width: 42em) and (max-width: 54.9375em) { .width-1-2 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-left: 0; }
  .width-1-3 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; }
  .width-1-3.no-margin { width: 50%; }
  .width-1-3:nth-child(2n) { margin-left: 0; }
  .width-1-4 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; }
  .width-1-4.no-margin { width: 50%; }
  .width-1-4:nth-child(2n) { margin-left: 0; }
  .width-1-5 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; }
  .width-1-5.no-margin { width: 50%; }
  .width-1-5:nth-child(2n) { margin-left: 0; }
  .width-1-6 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; }
  .width-1-6.no-margin { width: 50%; }
  .width-1-6:nth-child(2n) { margin-left: 0; } }

@media only screen and (min-width: 55em) and (max-width: 79.9375em) { .width-1-2 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-left: 0; }
  .width-1-3 { width: calc( 33.33333% - 1.33333rem - 0.33333px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-3.no-margin { width: 33.33333%; }
  .width-1-3:nth-child(3n) { margin-left: 0; }
  .width-1-4 { width: calc( 33.33333% - 1.33333rem - 0.33333px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-4.no-margin { width: 33.33333%; }
  .width-1-4:nth-child(3n) { margin-left: 0; }
  .width-1-5 { width: calc( 33.33333% - 1.33333rem - 0.33333px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-5.no-margin { width: 33.33333%; }
  .width-1-5:nth-child(3n) { margin-left: 0; }
  .width-1-6 { width: calc( 33.33333% - 1.33333rem - 0.33333px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-6.no-margin { width: 33.33333%; }
  .width-1-6:nth-child(3n) { margin-left: 0; } }

@media only screen and (min-width: 80em) and (max-width: 99.9375em) { .width-1-2 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-left: 0; }
  .width-1-3 { width: calc( 33.33333% - 1.33333rem - 0.33333px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-3.no-margin { width: 33.33333%; }
  .width-1-3:nth-child(3n) { margin-left: 0; }
  .width-1-4 { width: calc( 25% - 1.5rem - 0.25px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-4.no-margin { width: 25%; }
  .width-1-4:nth-child(4n) { margin-left: 0; }
  .width-1-5 { width: calc( 25% - 1.5rem - 0.25px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-5.no-margin { width: 25%; }
  .width-1-5:nth-child(4n) { margin-left: 0; }
  .width-1-6 { width: calc( 25% - 1.5rem - 0.25px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-6.no-margin { width: 25%; }
  .width-1-6:nth-child(4n) { margin-left: 0; } }

@media only screen and (min-width: 100em) { .width-1-2 { width: calc( 50% - 1rem - 0.5px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-left: 0; }
  .width-1-3 { width: calc( 33.33333% - 1.33333rem - 0.33333px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-3.no-margin { width: 33.33333%; }
  .width-1-3:nth-child(3n) { margin-left: 0; }
  .width-1-4 { width: calc( 25% - 1.5rem - 0.25px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-4.no-margin { width: 25%; }
  .width-1-4:nth-child(4n) { margin-left: 0; }
  .width-1-5 { width: calc( 20% - 1.6rem - 0.2px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-5.no-margin { width: 20%; }
  .width-1-5:nth-child(5n) { margin-left: 0; }
  .width-1-6 { width: calc( 16.66667% - 1.66667rem - 0.16667px); margin-left: 2rem; margin-bottom: 0; }
  .width-1-6.no-margin { width: 16.66667%; }
  .width-1-6:nth-child(6n) { margin-left: 0; } }

/* FILE: shortcodes/__item.scss */
.wm-item-title i, .wm-item-title span { margin-left: 0.62em; }

.wm-accordion .wm-item { margin-bottom: 1em; transition: padding 0.3s; }

.wm-accordion .wm-item-title { position: relative; padding: 1rem 1.62rem; padding-left: 3.62rem; margin: 0; font-size: 1em; font-weight: 700; color: inherit; border: 2px solid currentColor; cursor: pointer; transition: all 0.3s; }

@media only screen and (min-width: 42em) { .wm-accordion .wm-item-title { padding-right: 2rem; } }

.wm-accordion .wm-item-title::after { content: '\f431'; position: absolute; left: 1.62rem; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.wm-accordion .is-active .wm-item-title::after { content: '\f432'; }

.wm-accordion .wm-item-title i::before, .wm-accordion .wm-item-title span::before { margin-top: -0.19em; line-height: 0.62; font-size: 1.62em; vertical-align: middle; }

.wm-accordion .wm-item-content { padding: 1.62rem; }

@media only screen and (min-width: 42em) { .wm-accordion .wm-item-content { padding: 2rem; } }

.wm-tabs .wm-item { margin: 0; }

.layout-top .wm-item, .layout-left .wm-item, .layout-right .wm-item { padding: 2em 0; }

@media only screen and (min-width: 55em) { .layout-left .wm-item { padding: 0 2em 2em 0; }
  .layout-right .wm-item { padding: 0 0 2em 2em; } }

/* FILE: shortcodes/__jquery-isotope-masonry.scss */
.filter-this, .masonry-this { margin-bottom: -2rem; }

.filter-this.no-margin, .masonry-this.no-margin { margin-bottom: 0; }

@media only screen and (min-width: 42em) { .filter-this.with-margin, .masonry-this.with-margin { width: 102%; width: calc( 100% + 2rem); } }

.filter-this.with-margin[data-columns="1"], .masonry-this.with-margin[data-columns="1"] { width: 100%; }

.filter-this.with-margin .wm-column, .masonry-this.with-margin .wm-column { margin-top: 0; margin-bottom: 2rem; width: 100%; }

@media only screen and (min-width: 42em) { .filter-this.with-margin .wm-column, .masonry-this.with-margin .wm-column { margin-left: 1.96078%; margin-left: 2rem; } }

@media only screen and (min-width: 42em) { .filter-this.with-margin .width-1-2, .filter-this.with-margin .width-1-3, .filter-this.with-margin .width-1-4, .filter-this.with-margin .width-1-5, .filter-this.with-margin .width-1-6, .masonry-this.with-margin .width-1-2, .masonry-this.with-margin .width-1-3, .masonry-this.with-margin .width-1-4, .masonry-this.with-margin .width-1-5, .masonry-this.with-margin .width-1-6 { width: 48%; width: calc( 50% - 2rem); } }

@media only screen and (min-width: 55em) { .filter-this.with-margin .width-1-2, .masonry-this.with-margin .width-1-2 { width: 48%; width: calc( 50% - 2rem); }
  .filter-this.with-margin .width-1-3, .masonry-this.with-margin .width-1-3 { width: 31.33333%; width: calc( 33.33333% - 2rem); }
  .filter-this.with-margin .width-1-4, .masonry-this.with-margin .width-1-4 { width: 23%; width: calc( 25% - 2rem); }
  .filter-this.with-margin .width-1-5, .masonry-this.with-margin .width-1-5 { width: 18%; width: calc( 20% - 2rem); }
  .filter-this.with-margin .width-1-6, .masonry-this.with-margin .width-1-6 { width: 14.66667%; width: calc( 16.66667% - 2rem); } }

/* FILE: shortcodes/__jquery-slick.scss */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; right: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: right; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: left; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* FILE: shortcodes/__jquery-slick-custom.scss */
.slick-list { margin-right: -1.3122rem; margin-left: -1.3122rem; }

.slick-track { display: -webkit-flex; display: -ms-flexbox; display: flex; cursor: e-resize; }

.slick-slide { height: auto; padding-right: 1.3122rem; padding-left: 1.3122rem; }

.slick-slide:focus { outline: 0; }

.slick-slide, .slick-initialized .slick-slide { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

[data-columns="1"] .slick-slide { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.slick-slide .wm-column { width: 100%; margin: 0; }

.slick-arrow { position: absolute; width: 2.62rem; height: 2.62rem; top: 50%; padding: 0; line-height: 2.62rem; font-size: 1.38rem; overflow: hidden; z-index: 19; }

.slick-arrow::before { height: 100%; }

.slick-slider:hover .slick-arrow { opacity: 1; }

@media only screen and (min-width: 80em) { .slick-arrow { width: 3.62rem; height: 3.62rem; line-height: 3.62rem; } }

.slick-prev { right: 0; -webkit-transform: translateX(150%) translateY(-50%); -ms-transform: translateX(150%) translateY(-50%); transform: translateX(150%) translateY(-50%); }

.slick-prev::before { content: ""; }

.slick-next { left: 0; -webkit-transform: translateX(-150%) translateY(-50%); -ms-transform: translateX(-150%) translateY(-50%); transform: translateX(-150%) translateY(-50%); }

.slick-next::before { content: ""; }

/* FILE: shortcodes/__filter.scss */
.wm-filter ul { margin: 0 0 4.86em; list-style: none; }

.wm-filter li { display: inline-block; margin: 0 0.31em; list-style: none; }

.wm-filter li a { font-weight: inherit; }

.wm-filter a { display: inline-block; margin: 0.19em 0; padding: 0.19em 1em; text-decoration: none; text-transform: uppercase; font-size: 0.905em; color: inherit; border-width: 2px; border-style: solid; border-color: currentColor; }

.wm-filter a:hover, .wm-filter .active a, .wm-filter .is-active a { border-style: solid; opacity: 1; }

.wm-filter .link-back { border-color: inherit; }

.wm-filter .link-all { font-weight: 700; }

.wm-filter .link-parent::before { content: ""; margin-left: 0.38em; }

.wm-filter .count { display: none; }

/* FILE: shortcodes/_accordion.scss */
.wm-accordion .wm-filter ul { margin-bottom: 1.62em; }

/* FILE: shortcodes/_button.scss */
.button.fullwidth { width: 100%; }

.button i, .button span { position: relative; bottom: -0.095em; margin-left: 0.38em; line-height: 1; font-size: 1.38em; color: inherit; }

.button.size-small { font-size: 0.62rem; }

.button.size-large { font-size: 1rem; }

.button.size-extra-large { font-size: 1.19rem; }

.fl-module-wm_button.aligncenter { text-align: center; }

/* FILE: shortcodes/_call-to-action.scss */
@media only screen and (min-width: 55em) { .wm-call-to-action { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; } }

.wm-call-to-action-element { -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; text-align: center; }

@media only screen and (min-width: 55em) { .wm-call-to-action-element { text-align: inherit; vertical-align: middle; } }

.wm-call-to-action-element h2, .wm-call-to-action-element h3, .wm-call-to-action-element h4 { margin-bottom: 0; }

.wm-call-to-action-element p { margin: 1em 0 0; }

.wm-call-to-action-caption h2, .wm-call-to-action-caption h3, .wm-call-to-action-caption h4 { font-size: 1.19em; }

.wm-call-to-action-button { margin-top: 1.62rem; }

@media only screen and (min-width: 55em) { .wm-call-to-action-button { margin-right: 8%; margin-top: 0; text-align: left; white-space: nowrap; } }

/* FILE: shortcodes/_content-module.scss */
.item-border .wm-content-module-item { padding: 1.62em; border-width: 1px; border-bottom-width: 2px; border-style: solid; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.item-border .wm-content-module-item:hover, .item-border .wm-content-module-item.focus { -webkit-transform: translateY(-4px); -ms-transform: translateY(-4px); transform: translateY(-4px); }

@media only screen and (min-width: 42em) { .item-border .wm-content-module-item { padding: 2em; } }

.item-border .wm-content-module-item:not(.wm-iconbox-module) .image { margin: -1.62em; margin-bottom: 1.62em; }

@media only screen and (min-width: 42em) { .item-border .wm-content-module-item:not(.wm-iconbox-module) .image { margin: -2em; margin-bottom: 2em; } }

.wm-content-module .image { margin-bottom: 1.62rem; }

@media only screen and (min-width: 42em) { .wm-content-module .image { margin-bottom: 2rem; } }

.wm-content-module .title { margin-bottom: 1.62em; }

.hide-title .wm-content-module .title { display: none; }

.wm-content-module .title h2, .wm-content-module .title h3, .wm-content-module .title h4 { font-size: 1.19em; }

.wm-content-module .more-link { margin-top: 1.62em; }

.wm-content-module .more-link a { display: inline-block; padding: 0.76543em 2em; text-decoration: none; font-size: 0.81rem; font-weight: 700; border: 2px solid currentColor; transition: background 0.5s, color 0.5s, border-color 0.3s, box-shadow 0.3s, opacity 0.3s; }

.wm-content-module .more-link a:hover, .wm-content-module .more-link a:active, .wm-content-module .more-link a:focus { text-decoration: none; border-color: transparent; }

.wm-content-module .more-link a:hover { outline: 0; }

.wm-content-module .more-link a:focus { outline: thin dashed; }

.wm-content-module .more-link a:active { outline: 0; opacity: .9; }

.hide-more-link .more-link, .hide-more-button .more-link { display: none; }

.wm-iconbox-module .image { line-height: 1; font-size: 3.62674em; vertical-align: top; }

@media only screen and (min-width: 80em) { .wm-iconbox-module .image { font-size: 5.0049em; } }

/* FILE: shortcodes/_divider.scss */
.wm-divider.type-dotted, .wm-divider.type-dashed, .wm-divider.type-double-line, .wm-divider.type-whitespace { background: none; }

.wm-divider { height: 0; margin: 2.62807em 0; border-bottom-width: 1px; border-style: solid; }

@media only screen and (min-width: 42em) { .wm-divider { margin: 3.62674em 0; } }

.wm-divider.type-dotted { border-style: dotted; }

.wm-divider.type-dashed { border-style: dashed; }

.wm-divider.type-double-line { height: 5px; border-top-width: 1px; border-bottom-width: 1px; }

.wm-divider.type-whitespace { margin: 3.62674em 0 0; border-width: 0; }

.wm-divider.size-small { display: inline-block; width: 19%; }

.wm-divider.size-medium { display: inline-block; width: 38%; }

.wm-divider.size-large { display: inline-block; width: 62%; }

.wm-divider.size-extra-large { display: inline-block; width: 81%; }

.fl-module-wm_divider .wm-divider, .fl-module-wm_divider .wm-divider.type-whitespace { margin: 0; }

.fl-module-wm_divider .fl-module-overlay { top: -6px; }

/* FILE: shortcodes/_message.scss */
.wm-message { clear: both; padding: 2em; margin-bottom: 1.62em; text-align: center; border-top-width: 0.62em; border-top-style: solid; }

.fl-module .wm-message { margin-bottom: 0; }

.wm-message[class*="icon-"] { padding-top: 4.63153em; }

.wm-message[class*="icon-"]::before { position: absolute; display: block; width: 100%; right: 0; top: 1.38rem; line-height: 1; font-size: 2.6244em; }

.fl-builder-content .wm-message * { color: inherit; }

.wm-message-title { margin-top: 0; margin-bottom: 0.38em; font-size: 1.38em; font-weight: 700; color: inherit; }

.wm-message p { margin-bottom: 0; }

/* FILE: shortcodes/_posts.scss */
.wm-posts-post .wm-posts-item { display: -webkit-flex; display: -ms-flexbox; display: flex; position: relative; }

.wm-posts-post .wm-posts-item .entry { -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; float: none; width: 100%; margin: 0; }

.wm-posts .entry { margin-bottom: 0; }

.wm-posts .type-post { border-color: inherit; }

.wm-posts .taxonomy a { text-decoration: none; color: inherit; }

.wm-posts .taxonomy a:hover, .wm-posts .taxonomy a:active, .wm-posts .taxonomy a:focus { text-decoration: underline; }

.compact-layout .type-post { border-width: 0; padding: 0; }

.compact-layout .type-post .entry-media { display: none; }

.compact-layout .type-post .entry-meta, .fl-builder .compact-layout .type-post .entry-meta { padding: 0; margin-top: 0; margin-bottom: 0.62rem; text-align: inherit; border-width: 0; }

/* FILE: shortcodes/__projects.scss */
.posts .type-wm_projects { border-color: inherit; }

.posts .type-wm_projects .entry-header { margin: 0; }

.posts .type-wm_projects .taxonomy + .entry-header { margin-top: 0.19em; }

.posts .type-wm_projects .entry-content { display: none; }

.posts .type-wm_projects .taxonomy { margin-top: 2rem; text-transform: uppercase; font-size: 0.81em; }

.portfolio-style-compact .posts .type-wm_projects { padding: 0; }

.portfolio-style-compact .posts .type-wm_projects .entry { position: relative; overflow: hidden; }

.portfolio-style-compact .posts .type-wm_projects .entry-media { margin: 0; }

.portfolio-style-compact .posts .type-wm_projects .entry-summary-container { position: absolute; width: 100%; right: 0; bottom: -1px; padding: 1em; margin: 0; background-position: 50% 100%; background-size: cover; color: #fff; overflow: hidden; z-index: 1; }

@media only screen and (min-width: 80em) { .portfolio-style-compact .posts .type-wm_projects .entry-summary-container { padding: 2em; } }

.portfolio-style-compact .posts .type-wm_projects .entry-summary-container::before, .portfolio-style-compact .posts .type-wm_projects .entry-summary-container::after { content: ''; position: absolute; }

.portfolio-style-compact .posts .type-wm_projects .entry-summary-container::before { width: calc( 100% + 14px); height: calc( 100% + 14px); right: -7px; bottom: -7px; background: inherit; -webkit-filter: blur(7px); filter: blur(7px); z-index: -1; }

.portfolio-style-compact .posts .type-wm_projects .entry-summary-container::after { width: 100%; height: 100%; right: 0; bottom: 0; background: #000; z-index: -1; opacity: 0.2; transition: opacity 0.3s; }

.portfolio-style-compact .posts .type-wm_projects:hover .entry-summary-container::after, .portfolio-style-compact .posts .type-wm_projects.focus .entry-summary-container::after { opacity: 0.5; }

.portfolio-style-compact .posts .type-wm_projects h2, .portfolio-style-compact .posts .type-wm_projects h3, .portfolio-style-compact .posts .type-wm_projects a { color: inherit; }

.portfolio-style-compact .posts .type-wm_projects .taxonomy { margin-top: 0; }

/* FILE: shortcodes/__staff.scss */
.posts .type-wm_staff .entry-content .button { margin: 0.62em 0 0; }

.posts .type-wm_staff .entry-content .button .entry-subtitle { display: none; }

.posts .type-wm_staff .taxonomy + .entry-content { margin-top: 1em; }

.posts .type-wm_staff .taxonomy { font-size: 0.81em; }

.posts .type-wm_staff .taxonomy-label { margin-left: 0.38em; font-size: 0.81em; }

.hide-excerpt .type-wm_staff .summary, .hide-summary .type-wm_staff .summary { display: none; }

.wm-posts-wm_projects .no-margin .wm-posts-item, .wm-posts-wm_staff .no-margin .wm-posts-item { padding: 1px; }

.wm-posts-wm_projects .wm-posts-item, .wm-posts-wm_staff .wm-posts-item { display: block; }

/* FILE: shortcodes/_tabs.scss */
.wm-tab-links { position: relative; padding: 0; margin: 0; line-height: 1.19; list-style: none; z-index: 1; }

@media only screen and (min-width: 55em) { .wm-tab-links { text-align: center; margin: 0 -.5em; } }

.wm-tab-links li { display: block; padding: .5em 0; margin: 0; vertical-align: top; }

@media only screen and (min-width: 55em) { .wm-tab-links li { display: -webkit-flex; display: -ms-flexbox; display: flex; padding: .5em; } }

.wm-tab-links a { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; display: block; padding: 1em 1.62em; text-decoration: none; text-transform: uppercase; font-weight: 700; color: inherit; border: 2px solid currentColor; transition: background 0.3s, color 0.3s, box-shadow 0.3s; }

@media only screen and (min-width: 42em) { .wm-tab-links a { padding-right: 2em; padding-left: 2em; } }

.wm-tab-links i, .wm-tab-links span { margin-left: 0.62em; }

.wm-tab-links i::before, .wm-tab-links span::before { margin-top: -0.19em; line-height: 0.62; font-size: 1.62em; vertical-align: middle; }

@media only screen and (min-width: 55em) { .layout-top .wm-tab-links { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .layout-top .wm-tab-links li { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

@media only screen and (min-width: 55em) { .layout-left .wm-tab-links, .layout-right .wm-tab-links { display: block; float: right; width: 25%; text-align: inherit; }
  .layout-left .wm-tab-links li, .layout-right .wm-tab-links li { display: block; }
  .layout-right .wm-tab-links { float: left; } }

.wm-tour-nav { display: none; text-transform: uppercase; }

@media only screen and (min-width: 42em) { .wm-tour-nav.bottom { display: block; }
  .wm-tour-nav a, .wm-tour-nav i, .wm-tour-nav span { color: inherit; }
  .wm-tour-nav a { display: block; padding: 1em; }
  .wm-tour-nav a::after, .wm-tour-nav a::before { font-size: 1.62em; vertical-align: middle; line-height: 1; }
  .wm-tour-nav .prev, .wm-tour-nav .next { display: inline-block; width: 50%; }
  .wm-tour-nav .prev i, .wm-tour-nav .prev span, .wm-tour-nav .next i, .wm-tour-nav .next span { margin-left: 0.62em; }
  .wm-tour-nav .prev { text-align: right; }
  .wm-tour-nav .prev a::before { content: '\f430'; margin-left: 1em; }
  .wm-tour-nav .next { text-align: left; }
  .wm-tour-nav .next a::after { content: '\f429'; margin-right: 1em; } }

.wm-tabs-items { position: relative; }

.layout-top.tour-tabs .wm-tabs-items { z-index: 2; }

@media only screen and (min-width: 55em) { .layout-left .wm-tabs-items { padding-right: 25%; }
  .layout-right .wm-tabs-items { padding-left: 25%; } }

/* FILE: shortcodes/_testimonials.scss */
.posts .wm-testimonials { padding-right: 0; padding-left: 0; text-align: inherit; border-width: 0; border-color: inherit; }

.posts .wm-testimonials::before { display: none; }

.wm-posts .wm-testimonials { padding: 0; }

.wm-testimonials blockquote { padding: 1.62rem; margin: 0; font-size: 1.19em; border-top-width: 1px; border-top-style: solid; border-right-width: 1px; border-right-style: solid; }

@media only screen and (min-width: 80em) { .wm-testimonials blockquote { padding: 2.6244rem; } }

.fl-col-small .wm-testimonials blockquote { padding: 1.62rem; padding-left: 0; }

.wm-testimonials blockquote::after { content: ''; position: absolute; display: block; width: calc( 50% - 0.81rem); height: auto; right: -1px; top: 100%; border-top-width: 1px; border-top-style: solid; }

.wm-testimonials blockquote::before { content: '\f106'; font-size: 3.125rem; border-width: 0; }

.wm-testimonials .source { position: relative; display: block; padding-top: 0.62em; margin: 1.62em 0 0; text-align: center; font-weight: 700; }

.wm-testimonials .source::after, .wm-testimonials .source::before { content: ''; position: absolute; display: block; height: 1.62rem; right: calc( 50% - 0.81rem); bottom: 100%; margin-right: -1px; border-right-width: 1px; border-right-style: solid; border-color: inherit; }

.wm-testimonials .source::after { height: 2.6244rem; -webkit-transform: skewX(45deg); -ms-transform: skewX(45deg); transform: skewX(45deg); -webkit-transform-origin: 0% 100%; -ms-transform-origin: 0% 100%; transform-origin: 0% 100%; }

.wm-testimonials .source small { display: block; }

.wm-testimonials .image img { display: inline; width: 3.62674em; margin: 0 1rem 0; margin-right: 0; border-radius: 5em; }

.wm-testimonials-item { transition: border-color 0.3s, -webkit-transform 0.3s; transition: border-color 0.3s, transform 0.3s; transition: border-color 0.3s, transform 0.3s, -webkit-transform 0.3s; }

.wm-testimonials-item:hover, .slick-slide:hover .wm-testimonials-item { border-color: currentColor; -webkit-transform: translateY(-4px); -ms-transform: translateY(-4px); transform: translateY(-4px); }
